.App {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: var(--primary);
  text-align: center;
}

.header {
  position: fixed;
  top: 0; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 100;
  background: linear-gradient(95deg, #0b1f7566, rgb(23, 101, 125));
}

.header.scrolled {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 1s, opacity 0.5s;
}

.logo {
  height: 3vmin;
  pointer-events: none;
}

.heading-h1 {
  background: linear-gradient(90deg, #00ffff, #1db954, #0000ff, black);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
  font-size: 6rem;
  line-height: 1;
  padding: 0.5rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.SearchBar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10rem;
  padding: 1rem;
  margin-top: 20rem;
}

.app-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  padding-top: 60px;
}

.searchResults-container {
  padding: 2rem;
  border-radius: 1rem;
  width: 40%;
}

.searchResults-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(95deg, #0b1f7566, rgb(23, 101, 125));
}

.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-top: 2rem;
  border-radius: 1rem;
}

.playlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(95deg, #0b1f7566, rgb(23, 101, 125));
}

.saved-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #0b1f7566, rgba(23, 101, 125, 0.067));
}

.saved-playlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}

hr {
  border: none;
  border-top: 1px solid #cccccc56;
  margin: 1rem 0;
  width: 100%;
}

p {
  text-align: left;
}

.App h3 {
  text-align: left;
}



@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 430px) {
  .app-content {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .SearchButton {
    border-radius: 25px;
  }

  .searchInput {
    border-radius: 25px;
  }

  .searchResults-container {
    display: grid;
    place-items: center;
    width: 80%;
    padding: 1rem;
    margin: auto;
  }

  .searchResults-content {
    padding: 1rem;
    width: 100%;
  }

  .playlist-container {
    width: 80%;
    padding-top: 0.3rem;
    margin: auto;
  }

  .logo {
    height: 10vmin;
    pointer-events: none;
  }
}
