.App {
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: var(--primary);
  text-align: center;
}

.app-content {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.searchResults-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-top: 2rem;
}

.playlist-container {
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
  width: 40%;
}