.playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 80%;
}

.playlist {
    display: flex;
    align-items: center;
    background-color: var(--pure);
    border-radius: 30px;
}

.playlistInput {
    flex: 1;
    padding: 20px 40px;
    border: none;
    background-color: var(--pure);
    color: var(--primary);
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px 0 0 25px;
    outline: none;
}

.Playlist-btn {
    border: none;
    background-color: var(--primary);
    padding: 20px 20px;
    color: var(--dark);
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Playlist-btn:hover {
    background-color: var(--backgroundTwo);
    transform: scale(1.1);
}